{% extends 'layouts/main.html' %}
{% block title %}
Collections - Blog
{% endblock title %}
{% load static %}
{% block content %}
<section class="py-5 text-center container" style="margin-top:78px;">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">BLOG LIBRARY</h1>
            <p class="lead text-muted">Choose Your Journey</p>
            <p>
                <a href="#" class="btn btn-primary my-2">My Account</a>
                <a href="#" class="btn btn-secondary my-2">Create Account</a>
            </p>
        </div>
    </div>
</section>

<section class="bg-light py-4 my-5">
    <div class="container">
        <div class="row">
         <div class="col-12">
            <h4 class="mb-3">BLOGS</h4>
            <hr style="border-color:#b8bfc2;">
         </div>
        </div>
    </div>


            {% for blog in blogs %}
                <div class="col-md-4 col-lg-3">
                    <div class="card my-3" style="height:100%;">
                        {% if blog.image %}
                            <img src="{{ blog.image.url }}" class="card-img-top" alt="{{ blog.title }}" style="height:200px; object-fit:cover;">
                        {% else %}
                            {% if blog.category == "food" %}
                                <img src="{% static 'blog_images/food.jpg' %}" class="card-img-top" alt="Food" style="height:200px; object-fit:cover;">
                            {% elif blog.category == "travel" %}
                                <img src="{% static 'blog_images/travel.jpg' %}" class="card-img-top" alt="Travel" style="height:200px; object-fit:cover;">
                            {% elif blog.category == "tech" %}
                                <img src="{% static 'blog_images/tech.jpg' %}" class="card-img-top" alt="Tech" style="height:200px; object-fit:cover;">
                            {% elif blog.category == "lifestyle" %}
                                <img src="{% static 'blog_images/lifestyle.jpg' %}" class="card-img-top" alt="Lifestyle" style="height:200px; object-fit:cover;">
                            {% elif blog.category == "education" %}
                                <img src="{% static 'blog_images/education.jpg' %}" class="card-img-top" alt="Education" style="height:200px; object-fit:cover;">
                            {% endif %
                        <div class="card-body">
                            <h5 class="card-title
                        </div>
                    </div>
                </div>

        {% empty %}
        <p>No blogs available.</p>
        {% endfor %}
</section>

{% endblock content %}


